* {
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    margin: 0;
    font-family: Montserrat, sans-serif;
    background-image: url('../img/1671737027_kalix-club-p-fon-dlya-prezentatsii-programmist-instagra-1.jpg');
}

/*header*/

.header {
    background: #F7C90E;
    display: flex;
    align-items: center;
    height: 90px;
    margin-bottom: 40px;
}

.header__logo {
    margin-left: 70px;
    margin-right: 10px;
}


img {
    width: 150px;
}

.title {
    text-shadow: 0px 3px 2px rgba(0, 0, 0, 0.250);
    font-size: 45px;
    font-weight: 500;
}

span {
    color: red;
}

.container {
    color: #ffffff;
   
}

.container__form {
    padding: 100px 20px 0px 30px;
    margin: 0px auto;
    width: 1000px;
    height: 600px;
    background: linear-gradient(180deg, rgba(255,233,152,1) 0%, rgba(255,227,118,1) 14%, rgba(254,228,52,1) 66%);
    display: flex;
    position: relative;
    box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, 0.52);
    border-radius: 10px;

}

.form__left {
    display: flex;
    flex-direction: column;
    
    width: 480px;
}

.form__left input {
    margin-bottom: 30px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #828282;
    padding-left: 10px;
}


.form__left h2 {
    margin-bottom: 40px;
    text-shadow: 0px 3px 2px rgba(0, 0, 0, 0.250);
    font-size: 40px;
    font-weight: 500;
    color: #000;
    
}

.form__left_btn {
    position: absolute;
    bottom: 110px;
    width: 300px;
    height: 50px;
    border-radius: 20px;
    background-color: #1e9fa3;
    color: #fff;
    border: none;
    font-weight: 500;
    font-size: 16px;
}

.form__left_btn:hover {
    border: 1px solid #ccc
}

.form__left_btn:active {
    box-shadow: 4px 2px 4px 1px rgba(0, 0, 0, 0.29);
    
}

.checkbox {
    position: absolute;
    left: 30px;
    bottom: 190px;
    width: 20px;
}

.checkbox__text {
    position: absolute;
    bottom: 207px;
    left: 60px;
    color: #000000;
    font-size: 16px;
}

::placeholder {
    font-size: 18px;
}




.form__right {
    width: 480px;
    position: absolute;
    right: -110px;
    bottom: 168px;
    font-size: 20px;
}

.form__right h3 {
    color: #000;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 30px;
    text-shadow: 0px 3px 2px rgba(0, 0, 0, 0.250);
    font-style: italic;
}

.form__right p {
    margin-bottom: 20px;
    color: #000;
    font-weight: 500;
}

.form__right a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
    
}

.form__right a:hover {
    text-decoration: underline;
}

.form__right a:active {
    color: rgb(255, 255, 255);
}

.container__form_logo {
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 10px;
    right: 70px;
}

.container__form_text {
    position: absolute;
    bottom: 40px;
    right: 189px;
    font-size: 20px;
    color: #000;
    font-weight: 500;
}