.btn__edit {
    width: 191px;
    height: 39px;
    background-color: rgba(45,217,223,0.500);
    color: #fff;
    border: none;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
    display: inline-flex;
    align-items: center;
    padding-left: 28px;
    font-family: Inter, sans-serif;
}

.btn__edit img {
    margin-right: 30px;
}

.btn__edit:hover {
    border: #5e5e5e 1px solid;
}

.btn__edit:active {
    box-shadow: inset 2px 2px 3px 1px #a6a6a6, 0px 4px 4px #c0c0c0;
    border: none;
}